@primary-color : #2196F3;

body{
  overflow: hidden;
  background: #111;
  color: #ccc;
  font-family: 'Roboto';
}
nav .navbar-brand{
  height: 40px;
  padding: 5px 0 5px 20px;
  img{
    max-height: 30px;
  }
}
.tx-demo-toolbar{
  height: 40px;
  &.open{
    height: auto;
    position: absolute;
    width: 100%;
    z-index: 999;
  }
  nav.navbar{
    margin: 0;
    min-height: 40px;
    max-height: 40px;
    border-radius: 0;
    padding: 0;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.2), 0 2px 4px rgba(0,0,0,.2);
    border: none;

    .btn{
      height: 40px;
      outline: none;
      border-radius: 0;
      line-height: 27px;

      &.btn-close{
        width: 40px;
      }
    }
    .btn.active .fa-joomla{ color: #EBAD14; }
    .btn.active .fa-wordpress{ color: #2599CE; }

    .responsive-btn-wrapper{
      margin-left: 30px;
      .btn {
        width: 40px;
        background: transparent;
        border : 0;
        color: #BDBDBD;
      }
    }

  }

}
.close-wrapper{
  padding: 0 20px 0 0;
}

.btn-buynow,
.category-selector{
  float: left;
}
.btn-buynow{ b
  ackground: @primary-color; 
  &:hover{ background: #1976D2; }
}
.category-selector{
  .btn{ 
    background: transparent;
    border : 0;
    color: #BDBDBD;
  }
  .btn.active{ background: #333; }
}
.previewProduct{
  background: #333;
  border-right: 1px solid #111;
  color: #BDBDBD;
  cursor: pointer;
  height: 40px;
  padding: 12px 10px 12px 20px;
  text-shadow: 0 1px 0 #000;
  margin: 0;
  float: left;
  width: 300px;
  font-size: 15px;
}
.carets{ color: #999; }
.drawer{
  background: #333;
  z-index: 1;
  position: relative;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  .navbar.navbar-default{
    background-color: transparent;
    border: none;
    padding: 0 20px;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
    min-height: 40px;
    max-height: 40px;
    border-radius: 0;
    margin-bottom: 0px;

    .container-fluid{
      // border-bottom: 1px solid #565050;
    }

    .navbar-nav > li > a {
      padding: 10px 15px;
      color:#ccc;
      &:hover{
        color:#fff;
      }
    }
    .navbar-nav > .open > a,
    .navbar-nav > .active > a{
      background-color: transparent;
      border-bottom: 2px solid #03A9F4;
    }
    .label-info{ background: #222; }
    .dropdown-menu .label-info{ background: @primary-color; }
  }

  .navbar-form{
    margin: 10px 0 0;
    .input-group-addon{
      background: transparent;
      border: 0;
      color: @primary-color;
      border-bottom: 2px solid @primary-color;
      border-radius: 0;
      padding: 0 10px 0 5px;
    }
    .form-control{
      background: transparent;
      border: 0;
      border-bottom: 2px solid @primary-color;
      color: @primary-color;
      border-radius: 0;
      &:focus{ outline: 0; box-shadow: none; }
    }
  }
}

body{
  transition: transform 0.2s linear;
}
body.slide-up {
    transform: translateY(-40px);  
}
.angle-down{
  position: absolute; 
  top:40px; 
  left: 95%; 
  z-index: 999999;
  background: #d9534f; 
  color: #fff;
  box-shadow: 0 0 5px #000; 
  font-weight: bold;
}
@media (max-width: 767px){
  nav .navbar-brand{
    padding-left: 0px;
    svg{
      width: 100px;
    }
  }
  .previewProduct{
    max-width: 100%;
    width: 200px;
  }
  .tx-demo-toolbar nav.navbar .btn.angle-down{
    right: 20px;
    left: auto;
  }
}