.drawer {
  .owl-dots {
    background: #222;
    margin: 0px -35px;
    padding-top: 5px;
  }
  .drawer-carousel {
    padding: 30px 35px 0;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    background: #AFAFAF;
  }
  .owl-theme .owl-dots .owl-dot span {
    background: #333333;
  }
}

.owl-carousel .owl-stage-outer {
  // width: 95%;
  margin: 0 auto;
}

.owl-item {
  // margin: 0px 5px;
  cursor: pointer;
  .item.thumbnail {
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    padding: 0px;
    border-radius: 0px;
    background: #222;

    img {
      // min-height: 257px;
    }

    &:hover img {
      // box-shadow: 0 0px 10px 5px rgba(43,59,93,0.29);
      opacity: 1 !important;
    }
    h3 {
      padding: 10px 20px;
      margin: 0px;
      font-size: 13px;
      color: #f5f5f5;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.label.hot {
  top: 10px;
  right: 10px;
  position: absolute;
  z-index: 10;
}

.owl-theme .owl-nav {
  .owl-prev, .owl-next {
    position: absolute;
    z-index: 999;
    top: 120px;
    background: transparent;
    color: #999;
    font-size: 20px;
  }

  .owl-prev {
    left: -35px;
  }
  .owl-next {
    right: -35px;
  }
}
