.preview-frame{
  width: 100%;
  margin: 0 auto;
  display: block;
  transition: all 0.2s linear;

  &.tablet-portrait{
    width: 1024px;
  }

  &.tablet{
    width: 992px;
  }

  &.phone-portrait{
    width: 768px;
    margin: 20px auto;
  }

  &.phone{
    width: 480px;
    margin: 35px auto;
  }
}

.preview-wrapper{
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 40px;
  
 .popup-overlay {
    content: " ";
    position: absolute;
    left: 0;
    top: 60px;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
  }
}
